<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="needs-validation" (ngSubmit)="saveNewEmployee()" #employeeForm="ngForm" novalidate>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="firstName">First Name *</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.firstName" name="firstName" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="middleInitial">Middle Initial</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.middleInitial" name="middleInitial">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="lastName">Last Name *</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.lastName" name="lastName" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email Address *</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.email" name="email" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.phoneNumber" name="phone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="addressOne">Address Line 1</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.addressOne" name="addressOne" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="addressTwo">Address Line 2</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.addressTwo" name="addressTwo" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.city" name="city" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.state" name="state" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.zipCode" name="zip" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="position">Position</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.positionCategory" name="position" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="dateHired">Date Hired *</label>
              <input type="text" class="form-control" [(ngModel)]="newEmployee.dateHired" name="dateHired" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [(ngModel)]="newEmployee.isActive" name="isActve" required>
              <label for="isActve">Is Active *</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
