<div class="container">
  <h1>Employees</h1>
  <div id="listOfEmpls">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td><a [routerLink]="['/employee-detail', employee.id]">{{ employee.name }}</a></td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.city }}</td>
        <td><a [routerLink]="['/employee-detail', employee.id]">Update</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="emplActions">
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Create New Employee</button>
    <!--
    <a [routerLink]="['/employee-create']" class="btn btn-default btn-lg">Create New Employee
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    -->
  </div>
</div>
