<div class="row">
  <div class="col-md-12">
    <p>
      Are you sure you wish to delete {{employeeToDelete.firstName}} {{employeeToDelete.lastName}}?
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <button class="btn btn-primary btn-outline-primary btn-block" type="button" (click)="closeModal()">No</button>
  </div>
  <div class="col-md-6 text-center">
    <button class="btn btn-danger btn-outline-danger btn-block" type="button" (click)="deleteEmployee()">Yes</button>
  </div>
</div>
